/* Sidebar styles */
.sidebar {
    width: 250px;
    height: 100%;
    background-color: #bc6838;
    padding-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
  }
  
  .sidebar-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .sidebar-menu ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .sidebar-menu li {
    margin: 15px 0;
    text-align: left;
  }
  
  .sidebar-menu li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 20px;
    display: block;
  }
  
  .sidebar-menu li a:hover {
    background-color: #34495e;
  }
  